<!DOCTYPE html>
<html>
  <head>
    <title>Nathan and Joe's Page!!</title>
  </head>

  <body>
    <h1> <%= @actor_movie.first['actor_name'] %> </h1>
    <ul>
      <% @actor_movie.each do |movie| %>
        <li>
          <a href="/movies/<%= movie['id'] %>"><%= movie['title'] %> </a>
          <p><%= movie['character'] %></p>
        </li>
      <% end %>
    </ul>
  </body>
</html>
